<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magmaapp.example.xavi.magmaapp"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:title="@string/app_name"
        android:logo="@drawable/logo_actionbar"
        android:theme="@style/AppTheme"
        android:name="magmaapp.example.xavi.magmaapp.contador"
        >

        <receiver android:name="magmaapp.example.xavi.magmaapp.NetworkChangeReceiver" android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE">
                    <action android:name="android.net.wifi.WIFI_STATE_CHANGED">
                    </action></action></intent-filter>
        </receiver>
        <activity
            android:name="magmaapp.example.xavi.magmaapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="magmaapp.example.xavi.magmaapp.CategoriaActivity"
            android:label=""
            android:parentActivityName="magmaapp.example.xavi.magmaapp.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magmaapp.example.xavi.magmaapp.MainActivity" />
        </activity>
        <activity
            android:name="magmaapp.example.xavi.magmaapp.ProducteActivity"
            android:label=""
            android:parentActivityName="magmaapp.example.xavi.magmaapp.CategoriaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magmaapp.example.xavi.magmaapp.CategoriaActivity" />
        </activity>
        <activity
            android:name="magmaapp.example.xavi.magmaapp.CompraActivity"
            android:label=""
            android:parentActivityName="magmaapp.example.xavi.magmaapp.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magmaapp.example.xavi.magmaapp.MainActivity" />
        </activity>
        <activity
            android:name="magmaapp.example.xavi.magmaapp.PagamentActivity"
            android:label=""
            android:parentActivityName="magmaapp.example.xavi.magmaapp.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magmaapp.example.xavi.magmaapp.MainActivity" />
        </activity>
    </application>

</manifest>
